/.apt_generated/
/.apt_generated_tests/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.DS_Store
Thumbs.db
.idea/
*.iml