USE [master]
GO
/****** Object:  Database [scheduleappointment]    Script Date: 07/29/2026 8:13:00 PM ******/
CREATE DATABASE [scheduleappointment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'scheduleappointment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\scheduleappointment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'scheduleappointment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\scheduleappointment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [scheduleappointment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [scheduleappointment]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[patient_id] [bigint] NOT NULL,
	[doctor_id] [bigint] NOT NULL,
	[department_id] [bigint] NOT NULL,
	[slot_id] [bigint] NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](7) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[status] [varchar](30) NOT NULL,
	[queue_number] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[booked_by] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[status] [varchar](20) NULL,
	[parent_id] [bigint] NULL,
	[image_url] [varchar](255) NULL,
	[base_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_schedule_slots]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_schedule_slots](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[doctor_id] [bigint] NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[max_patients] [int] NOT NULL,
	[booked_count] [int] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[department_id] [bigint] NOT NULL,
	[title] [nvarchar](100) NULL,
	[experience_years] [int] NULL,
	[description] [nvarchar](1000) NULL,
	[examination_fee] [decimal](18, 2) NOT NULL,
	[avt_url] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[type] [varchar](50) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[health_insurance_code] [varchar](50) NULL,
	[emergency_contact] [varchar](20) NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[relationship] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[appointment_id] [bigint] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[method] [varchar](30) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[paid_at] [datetime2](7) NULL,
	[transaction_code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07/29/2026 8:13:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[gender] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id], [name], [description], [status], [parent_id], [image_url], [base_price]) VALUES (1, N'Khoa Lâm Sàng', NULL, N'ACTIVE', NULL, NULL, NULL)
INSERT [dbo].[departments] ([id], [name], [description], [status], [parent_id], [image_url], [base_price]) VALUES (2, N'Khoa Cận Lâm Sàng', NULL, N'ACTIVE', NULL, NULL, NULL)
INSERT [dbo].[departments] ([id], [name], [description], [status], [parent_id], [image_url], [base_price]) VALUES (3, N'Khoa Hỗ Trợ Lâm Sàng', NULL, N'ACTIVE', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([id], [user_id], [department_id], [title], [experience_years], [description], [examination_fee], [avt_url]) VALUES (90, 90, 4, N'GS. TS. BS', 25, N'Bác sĩ chuyên khoa đầu ngành với nhiều năm kinh nghiệm tại Bệnh viện Đại học Y Dược TP.HCM, chuyên tầm soát, chẩn đoán và điều trị bệnh lý kỹ thuật cao.', CAST(300000.00 AS Decimal(18, 2)), N'/img/doctor/doctor-male.png')
INSERT [dbo].[doctors] ([id], [user_id], [department_id], [title], [experience_years], [description], [examination_fee], [avt_url]) VALUES (91, 91, 4, N'PGS. TS. BS', 25, N'Bác sĩ chuyên khoa đầu ngành với nhiều năm kinh nghiệm tại Bệnh viện Đại học Y Dược TP.HCM, chuyên tầm soát, chẩn đoán và điều trị bệnh lý kỹ thuật cao.', CAST(300000.00 AS Decimal(18, 2)), N'/img/doctor/doctor-female.png')
INSERT [dbo].[doctors] ([id], [user_id], [department_id], [title], [experience_years], [description], [examination_fee], [avt_url]) VALUES (92, 92, 4, N'BS. CKII', 18, N'Bác sĩ chuyên khoa đầu ngành với nhiều năm kinh nghiệm tại Bệnh viện Đại học Y Dược TP.HCM, chuyên tầm soát, chẩn đoán và điều trị bệnh lý kỹ thuật cao.', CAST(200000.00 AS Decimal(18, 2)), N'/img/doctor/doctor-male.png')
GO
SET IDENTITY_INSERT [dbo].[doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([id], [user_id], [date_of_birth], [gender], [address], [health_insurance_code], [emergency_contact], [full_name], [phone], [relationship]) VALUES (1, 1, CAST(N'2002-03-18' AS Date), N'Nam', N'2/4 đường 46, phường Hiệp Bình Chánh, TP Thủ Đức', NULL, N'0834612340', N'TRẦN HOÀNG ANH KA', N'0812172593', N'OTHER')
INSERT [dbo].[patients] ([id], [user_id], [date_of_birth], [gender], [address], [health_insurance_code], [emergency_contact], [full_name], [phone], [relationship]) VALUES (2, 1, CAST(N'2001-02-02' AS Date), N'N?', N'19 đường Tam Bình, phường Hiệp Bình Chánh, TP Thủ Đức', NULL, N'0834612340', N'HOÀNG THỊ NA', N'0812172593', N'SISTER')
SET IDENTITY_INSERT [dbo].[patients] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [gender]) VALUES (1, N'baduc', N'duc@gmail.com', N'0348853878', N'123', N'PATIENT', N'ACTIVE', CAST(N'2026-07-23T22:41:18.3233960' AS DateTime2), NULL)
INSERT [dbo].[users] ([id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [gender]) VALUES (90, N'GS. TS. BS Nguyễn Hoàng Định', N'k4_bs1@bvdaihoc.com.vn', N'0903104001', N'123', N'DOCTOR', N'ACTIVE', CAST(N'2026-07-26T15:35:07.4966667' AS DateTime2), N'MALE')
INSERT [dbo].[users] ([id], [full_name], [email], [phone], [password_hash], [role], [status], [created_at], [gender]) VALUES (91, N'PGS. TS. BS Trần Kim Trang', N'k4_bs2@bvdaihoc.com.vn', N'0903104002', N'123', N'DOCTOR', N'ACTIVE', CAST(N'2026-07-26T15:35:07.4966667' AS DateTime2), N'FEMALE')
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [uq_doctor_slot]    Script Date: 07/29/2026 8:13:01 PM ******/
ALTER TABLE [dbo].[doctor_schedule_slots] ADD  CONSTRAINT [uq_doctor_slot] UNIQUE NONCLUSTERED 
(
	[doctor_id] ASC,
	[work_date] ASC,
	[start_time] ASC,
	[end_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__doctors__B9BE370E58840BF0]    Script Date: 07/29/2026 8:13:01 PM ******/
ALTER TABLE [dbo].[doctors] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__payments__A50828FDA2BBDB67]    Script Date: 07/29/2026 8:13:01 PM ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61647EA98DE8]    Script Date: 07/29/2026 8:13:01 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__B43B145F308DA6B7]    Script Date: 07/29/2026 8:13:01 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[appointments] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ((150000.00)) FOR [base_price]
GO
ALTER TABLE [dbo].[doctor_schedule_slots] ADD  DEFAULT ((1)) FOR [max_patients]
GO
ALTER TABLE [dbo].[doctor_schedule_slots] ADD  DEFAULT ((0)) FOR [booked_count]
GO
ALTER TABLE [dbo].[doctor_schedule_slots] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[doctors] ADD  DEFAULT ((150000)) FOR [examination_fee]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[patients] ADD  DEFAULT (N'Chưa cập nhật') FOR [full_name]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_booked_by] FOREIGN KEY([booked_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_booked_by]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_departments]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_doctors]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_patients]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [fk_appointments_slots] FOREIGN KEY([slot_id])
REFERENCES [dbo].[doctor_schedule_slots] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [fk_appointments_slots]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK_Department_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK_Department_Parent]
GO
ALTER TABLE [dbo].[doctor_schedule_slots]  WITH CHECK ADD  CONSTRAINT [fk_slots_doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([id])
GO
ALTER TABLE [dbo].[doctor_schedule_slots] CHECK CONSTRAINT [fk_slots_doctors]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [fk_doctors_departments] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [fk_doctors_departments]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [fk_doctors_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [fk_doctors_users]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notifications_users]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_patients_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_patients_users]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [fk_payments_appointments] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointments] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [fk_payments_appointments]
GO
USE [master]
GO
