@charset "UTF-8";

/* START DÙNG CHUNG */
:root {
    --primary-blue: #0d68aa; 
    --text-color: #0d71ba;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, button, div {
    font-family: 'Roboto', sans-serif !important;
}

/* END DÙNG CHUNG */





/* START HEADER */
.hospital-navbar {
    background-color: #0d68aa;
}

.hospital-navbar .nav-link {
    min-height: 56px;
    display: flex;
    align-items: center;
    color: white;
}

.hospital-navbar .nav-link:hover {
    color: #d9efff;
}

.nav-logo {
    height: 40px;
    width: auto;
}

.appointment-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.navbar-icon {
    width: 48px;
    min-height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;
    text-decoration: none;
}

.account-icon {
    background-color: #0878b9;
}

.search-icon {
    background-color: #079dcc;
}

.navbar-icon:hover {
    color: white;
    filter: brightness(90%);
}

/* END HEADER */





/* START MAIN */

/* START BANNER */

.hero-banner {
	min-height: 60vh; 
    background-size: cover;
    background-position: right 20%;
    background-repeat: no-repeat;
    
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.overlay-gradient {
    background: linear-gradient(to right, rgba(13, 104, 170, 0.95) 0%, rgba(13, 104, 170, 0.6) 45%, rgba(13, 104, 170, 0) 100%);
}

.btn-booking {
    color: var(--primary-blue, #0d68aa) !important;
    transition: all 0.3s ease;
}

.btn-booking:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
    background-color: #f8f9fa; 
}

/* END BANNER */






/* START DEPARTMENT-SECTION */
.title{
	color: var(--text-color)
}

.nav-link{
	font-size: 20px;
}
.nav-tabs .nav-link.active {
    color: var(--text-color) !important;
    border-bottom: 3px solid var(--text-color);
}

.umc-card {
    background-color: #ffffff !important;
    border-radius: 12px;
    transition: all 0.3s ease;
    padding: 2.5rem 1rem;
    cursor: pointer;
}

.umc-card .card-title {
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.3s ease;
}

.umc-card .card-icon {
    width: 84px;
    height: 84px;
    
    background-color: var(--text-color); 
    
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    
    transition: background-color 0.3s ease; 
}

.umc-card:hover .card-icon {
    background-color: #ffffff !important;
}

.umc-card:hover {
    background-color: var(--text-color) !important;
    transform: translateY(-8px); 
    box-shadow: 0 12px 24px rgba(13, 104, 170, 0.25) !important; 
}

.umc-card:hover .card-title {
    color: #ffffff !important;
}
    
/* END DEPARTMENT-SECTION */

/* END MAIN */






/* FOOTER */

/* END FOOTER */

